
@font-face {
    font-family: 'unsteady';
    src: local('unsteady'), url(../Fonts/UNSTEADY.TTF) format('truetype');
}

@font-face {
  font-family: 'obv';
  src: local('obv'), url(../Fonts/ObveronFont.ttf) format('truetype');
}



    body {
        background-color: rgb(36, 0, 0);
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-areas: BX1 BX2 BX3
                             BX4 BX5 BX6
                             BX7 BX8 BX9;
        position: relative;
        top: 1;
    }

        h1 {
            margin-top: 7em;
            margin-left: 3em;
            font-family: 'unsteady';
            color: orange;
}

        #homeVideo {
            object-fit: cover;
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
        }

        #homeLogo {
            background-color: forestgreen;
            width: 25em;
            position: relative;
            top: 1;
        }

        #homeLogo:hover {
            width: 26em;
        }
         
        .block1 {
            grid-area: 'BX1';
            position: relative;
            top: 1;
            background-color: rgba(255, 70, 0, .50);
            height: 15em;
          }

        .block2 {
            grid-area: 'BX2';
            align-self: center;
            position: relative;
            top: 1;
            align-content: center;
            /* background-color: rgba(190, 115, 0, 0.85); */
        }

        .block3 {
            grid-area: 'BX3';
            position: relative;
            top: 1;
            background-color: rgba(255, 70, 0, .50);
}

         .block4 {
            grid-area: 'BX4';
            position: relative;
            top: 1;
}

        .block5 {
            grid-area: 'BX5';
            position: relative;
            top: 1;
        }

          .block6 {
            grid-column: 3;
            grid-row: 2;
            background: none;
            position: relative;
            top: 1;
          }




// // // // // // // // // // -- Navigation Styling -- // // // // // // // // // //


.full_nav_div ul,
#navl li,
#navr li{
    background-color: darkgrey;
    display: inline;
}